
    body {
        position: relative;
        background-color: hsl(30, 38%, 92%);
    }

    .attribution 
        { 
            padding-top: auto;
            padding-bottom: 10px;
            font-size: 11px; text-align: center; 
        }
    .attribution a 
        { 
            color: hsl(228, 45%, 44%); 
        }
    
    .bottom { 
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
    }

    .photo-container{
        background-image: url(./images/image-product-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* img {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    } */
    
    .product-card {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;

    }    

    .grid-container {   
        width: 50vw;
        height: 50vh;
        border-radius: 2%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .content-container {
        background-color: hsl(0, 0%, 100%);
        padding: 5%;
        font-size: 14px;
    }

    button {
        width: 20vw;
        height: 50px;
        background-color: hsl(158, 36%, 37%);
        color:hsl(0, 0%, 100%);
        border-radius: 5px;
    }

    